@model Errors.Models.ErrorModel

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>

<body>
    <h1>Error</h1>
    <p>Error Code: @Model.ErrorCode</p>
    <p>Error Message: @Model.ErrorMessage</p>
</body>
</html>
